@using SacredBond.Common.Enums;
@model SacredBond.App.Models.Profile.PersonalViewModel
@{
    ViewData["Title"] = "Personal information";
}
<form id="PersonalForm" method="post">
    <input asp-for="ProfileId" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-6">
            @ViewBag.IsPersonalCompleted
            <div class="form-floating">
                <input disabled asp-for="FullName" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="FullName"></label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input disabled asp-for="Gender" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="Gender"></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <input disabled asp-for="Email" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="Email"></label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input disabled asp-for="Phone" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="Phone"></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <input required asp-for="DateOfBirth" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="DateOfBirth"></label>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="form-floating">
                <input required asp-for="AddressLine1" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="AddressLine1"></label>
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="form-floating">
                <input asp-for="AddressLine2" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="AddressLine2"></label>
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-floating">
                <input required asp-for="City" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="City"></label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <select required asp-for="State" class="form-select" autocomplete="on"
                        asp-items="Html.GetEnumSelectList<States>()">
                    aria-required="true">
                    <option selected></option>
                </select>
                <label asp-for="State"></label>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <input required asp-for="ZipCode" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="ZipCode"></label>
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <select required asp-for="LegalStatus" class="form-select" autocomplete="on"
                        asp-items="Html.GetEnumSelectList<LegalStatuses>()">
                    aria-required="true">
                    <option selected></option>
                </select>
                <label asp-for="LegalStatus"></label>
                <span asp-validation-for="LegalStatus" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <select required asp-for="Ethnicity" class="form-select" autocomplete="on"
                        asp-items="Html.GetEnumSelectList<Ethnicities>()">
                    aria-required="true">
                    <option selected></option>
                </select>
                <label asp-for="Ethnicity"></label>
                <span asp-validation-for="Ethnicity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="form-floating">
                <select required asp-for="PreferredLanguage" class="form-select" autocomplete="on"
                        asp-items="Html.GetEnumSelectList<LanguagesEnum>()">
                    aria-required="true">
                    <option selected></option>
                </select>
                <label asp-for="PreferredLanguage"></label>
                <span asp-validation-for="PreferredLanguage" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">

                <label class="form-label fw-bold" asp-for="PrimaryLanguages"></label>
                <br />

                @foreach (var language in Html.GetEnumSelectList<LanguagesEnum>())
                {
                    var check = Model.PrimaryLanguages.Any(pl => pl.ToString() == language.Text) ? "checked" : string.Empty;
                    <div class="form-check">
                        <input id="@language.Value" class="form-check-input me-1" type="checkbox" @check name="PrimaryLanguages[]" value="@language.Value" />
                        <label class="form-check-label" for="@language.Value">
                            @language.Text
                        </label>
                    </div>
                }
                <span asp-validation-for="PrimaryLanguages" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            @if (Model.CanEditProfile)
            {
                <button id="save" type="submit" class="w-100 btn btn-md btn-primary">Save & Continue</button>
            }
            else
            {
                <button id="continue" type="submit" class="w-100 btn btn-md btn-primary">Continue</button>
            }
        </div>
    </div>
</form>

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            $("#personalLink").addClass("active");
            if (!@Model.CanEditProfile.ToString().ToLower()) {
                $("#PersonalForm").disableInput();
            }
        });
    </script>
}